<header class="header-default d-print-none" aria-labelledby="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="28" viewBox="0 0 35 28">
          <g fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
              <path fill="#FFF" d="M35.044 27.634l-6.447.018-7.372-20.893-7.964 12.272L.113 27.637 19.326.312h5.488z" />
              <path fill="#F89B1C" d="M11.507 27.637H.113l19.18-11.194z" />
            </g>
          </g>
        </svg>
        <h1 id="header" class="ml-3 d-inline font-size-xl font-weight-light color-white va-top">Registro de atividades
          manuais</h1>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container mt-5">
    <form class="row" name="activity-logs" [formGroup]="activityLogs">
      <div class="col-md-4">
        <div class="form-group form-group-md mt-4">
          <label>Colaborador (a)</label>
          <mat-form-field class="full__width" appearance="outline">
            <mat-select id="colaborador" name="colaborador" formControlName="nomeUsuario" placeholder="Colaborador (a)"
            >
              <mat-option (click)="changeValueName()" *ngFor="let user of users" [value]="user.nome">
                {{user.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-group-md mt-4">
          <label>Data</label>

          <mat-form-field class="full__width" appearance="outline">
            <input (click)="picker.open()" matInput [matDatepicker]="picker" 
            id="datePicker" name="datePicker" formControlName="datePicker" autocomplete="off">
            <mat-datepicker #picker (closed)="setButtonConsultfocus()"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-3 d-print-none">
        <button id="consultar" type="submit" class="btn_consultar btn btn-md btn-primary" (click)="recordTasks()">Consultar</button>
      </div>
    </form>

    <div class="row mt-4 mb-4 d-print-none">
      <div class="col-md-6 text-left">
        <button class="btn btn-md btn-primary mr-4" (click)="openModalActivities()">Novo registro</button>
        <button class="btn btn-md btn-primary" onclick="window.print()">Imprimir</button>
        <a routerLink="/cronometro" class="link" id="link-cronometro">Acessar contador</a>
      </div>
    </div>

    <div *ngIf="!isNotReady">Carregando...</div>

		<div class="alert alert-info" *ngIf="!isReady && isReady !== undefined || tasksList.length === 0">
			Não há registro de atividades nesta data.
		</div> 

		<div *ngIf="isReady || tasksList.length > 0">
			<table class="table align-left">
				<tr id="table-header font-weight-medium">
					<th title="Product Backlog Item">PBI</th>
					<th>Descrição PBI</th>
					<th>Task</th>
					<th>Descrição task</th>
					<th>Hora inicial</th>
					<th>Hora final</th>
				</tr>
				<tr class="table-even"
        *ngFor="let task of tasksList | paginate: { itemsPerPage: 25, currentPage: paginaAtual }; let i = index">
          <td>#{{task.pbi}}</td>
          <td>{{task.descricaoPBI}}</td>
          <td>#{{task.taskID}}</td>
          <td>{{task.descricaoTask}}</td>
          <td>{{task.dataHoraInicio}}</td>
          <td>{{task.dataHoraFim}}</td>
					<td width="250" colspan="2" class="text-right btn-excluir-alterar">
						<button class="btn btn-link" (click)="openActivityUpdateModal(task.id)">Alterar</button>
						<button class="btn btn-link" (click)="openActivityDeleteModal(task.id)">Excluir</button>
					</td>
				</tr>
			</table>
		</div>
  </div>
  <pagination-controls *ngIf="tasksList.length > 0" (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
</section>