<header class="header-default d-print-none" aria-labelledby="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="28" viewBox="0 0 35 28">
          <g fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
              <path fill="#FFF" d="M35.044 27.634l-6.447.018-7.372-20.893-7.964 12.272L.113 27.637 19.326.312h5.488z" />
              <path fill="#F89B1C" d="M11.507 27.637H.113l19.18-11.194z" />
            </g>
          </g>
        </svg>
        <h1 id="header" class="ml-3 d-inline font-size-xl font-weight-light color-white va-top">Registro de atividades
          manuais</h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container mt-5">
    <form class="row">
      <div class="col-md-4">
        <div class="form-group form-group-md">
          <label for="inputFindUsers">Caloborador (a)</label>
          
          <mat-form-field class="full__width" appearance="outline">
            <select class="form-control" id="inputFindUsers" ng-model="filtersActivities.nomeUsuario" required>
              <option selected="selected" value="">Colaborador (a)</option>
              <option ng-value="user.nome"></option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group form-group-md">
          <label for="inputFindUsers">Data</label>
          
          <mat-form-field class="full__width" appearance="outline">
            <input  id="date" type="text" class="form-control" ng-model="ctrl.momentDate" format="YYYY-MM-DD" min-date="ctrl.minDate" max-date="ctrl.maxDate" today="true" autocomplete="off">
          </mat-form-field>
        </div>
      </div>

      <div class="col-md-3 mt-1 d-print-none">
				<button type="submit" class="btn_consultar btn btn-md btn-primary">Consultar</button>
			</div>
    </form>

    <div class="row mt-4 mb-4 d-print-none">
			<div class="col-md-6 text-left">
        <button class="btn btn-md btn-secondary mr-4">Novo registro</button>
				<button class="btn btn-md btn-secondary">Imprimir</button>
			</div>
		</div>
  </div>
</section>