
.col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.col-md-6 {
  position: relative;
  width: 44.7%;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

#dialogModal {
  width: 600px;
}

label {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 4px;
}

label.colaborador,
label.task-description {
  font-size: 16px;
}


#modal-title {
  font-weight: 500;
}

.modal-footer {
  justify-content: flex-end;
}

.hours-padding {
  padding-bottom: 34px;
}

.btn-footer {
  margin-right: 18px;
}

.btn-cancelar {
  margin-right: 12px;
}

.activities-list {
  position: relative;
  z-index: 10;
}

#horaInicial::-webkit-datetime-edit-ampm-field,
#horaFinal::-webkit-datetime-edit-ampm-field {
  display: none;
}

#horaInicial::-webkit-calendar-picker-indicator,
#horaFinal::-webkit-calendar-picker-indicator {
  background: none;
}

.message-error {
  width: 100px;
  color: red;
  position: relative;
  bottom: 14px;
}

